@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html::-webkit-scrollbar{
    width: 0.50rem;
    
}


html::-webkit-scrollbar-thumb{
    background: greenyellow;
    border-radius: 0.50rem;
}
body{
    background: rgb(42, 44, 43);
}
.home{   
    background:  url('image/3e3fc9c4c42536a.gif');
    min-height: 33vh;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 8px solid greenyellow;
    
}

.container{
    /*max-width: 20%;
    margin-inline: auto; */

}
.con{
    position: relative;
    max-width: 17rem;
    margin: 0 auto;
   
  
}
.con img{ 
    height: 270px;
    width: 270px;
    border-radius: 50%;
    border: 8px solid greenyellow;
    position: absolute;
    top: -150px;
  
}


.con2 h1{
    color: rgb(47, 241, 255);
   /* font-family: 'Times New Roman', 'Times', 'serif';
    max-width: 17rem;
    margin: 0 auto;
   */
  
    margin-top: 10rem;
    text-align: center  ;
   
}
p{
    color: rgb(47, 241, 255);
    height:100px;
 

}

.con2 p{
    color: rgb(66, 199, 49);
    font-size: 30px;
   /* max-width: 17rem;
    margin: 0 auto;*/
    margin-top: 2rem;
    text-align: center;
   
}

.letter p{
    color: rgb(47, 241, 255);
    font-size: 30px;
     /* max-width: 17rem;
      margin: 0 auto;*/
      margin-top: 2rem;
      text-align: center;
}

.letter span{
    color: rgb(14, 180, 50);
   
}
.letter2 p{
    border-top: 1.50px solid   rgb(74, 85, 80);
    padding: 2rem;
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 25px;
   
}

.letter3 p{
    border-bottom: 1.50px solid   rgb(74, 85, 80);
    padding: 2rem;
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 4rem;
    font-size: 25px;
   
}

.skills{


   

}

.container2{
 display: flex;
 flex-wrap: wrap;
 max-width: 40rem;
 padding: 2rem 0;
margin: 0 auto;



 


}

.con3{
    height:100px;  
    width: 50%;
    margin-top: 2rem;
    flex: 0 0 auto;
    padding: 3rem !important;
    
  
}
.con3 img{
    height: 80px;
    width: auto;
    vertical-align: middle;
   
    
}













@media (max-width:519px){

    .container{
        max-width: 40%;
        margin: 0 auto;
    }
    .con img{ 
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: 8px solid greenyellow;
      
        
      
    }
    

}